[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "assets/www-components"]
	path = assets/www-components
	url = https://github.com/snhmibby/www-components.git
