:root {
	--icon-bg: black;
	--icon-color: white;
	--icon-button-offset: 5px;
	--icon-size: 2rem;
	--icon-button-padding: 0.7rem;
}

.icon-button {
	background-color: var(--icon-bg);
	color: var(--icon-color);
	padding: var(--icon-button-padding);
	border: none;
	border-radius: 10%;
	cursor: pointer;
	svg {
		height: var(--icon-size);
		width: var(--icon-size);
	}
}

