@import 'iconbutton';
@import 'carrousel';
@import 'gallery';
@import 'modal';

.gallery,
.modal,
.carrousel,
.carrousel-list,
.carrousel-item {
	padding: 0;
	margin: 0;
}

.hidden {
	display: none !important;
}

//component variables
:root {
	--icon-bg: black;
	--icon-color: white;
	--icon-button-offset: 5px;
	--icon-size: 2rem;
	--icon-button-padding: 0.7rem;
	--width-carrousel: 95vw;
}
