{{ define "main" }}
	<main class="main">
		{{- with .Content }}
		<div class="page block">
			<div class="page__content page__content--notitle">{{ . }}</div>
		</div>
		{{- end }}
		<div class="cards">
			{{- range (where .Site.Sections "Type" "in" site.Params.mainSections) }}
				<div class="card{{ if and (ge ($.Param "columns") 1) (le ($.Param "columns") 3) }} card--{{ $.Param "columns" }}col{{ else }} card--2col{{ end }}">
					{{ .Render "summary" }}
				</div>
			{{- end }}
		</div>
{{ end }}
